/* Theme Name: Lifevent Child Theme
Theme URI: https://themeforest.net/user/ovatheme/portfolio
Description: Lifevent is a modernized take on an ever-popular WordPress. It has custom color options with beautiful default color schemes, a harmonious fluid grid using a mobile-first approach, and impeccable polish in every detail. Lifevent will make your WordPress look beautiful everywhere. Created by <a href="https://themeforest.net/user/ovatheme">Ovatheme</a>
Author: Ovatheme
Author URI: https://themeforest.net/user/ovatheme
Template: lifevent
Version: 1.0
Tags: two-columns, three-columns, left-sidebar, right-sidebar, custom-menu, editor-style, featured-images, flexible-header, full-width-template, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain:  lifevent-child
*/
